body {
    background-color: black;
}

h1 {
    color: white;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    margin-top: 1em;

}

h2 {
    color: white;
    text-align: center;
    margin-top: 1em;
    font-family: 'Press Start 2P', cursive;

}

.compliment {
    color: #39ff14;

}

.plek { 
    color: white;
}
.nameTag {
    color: #f494bf;
    font-family: 'Press Start 2P', cursive;
    margin-top: 0px;
    margin-left: 11em;
    font-size: 30px;
    text-decoration: underline;

}

form {
    text-align: center;
}

.character {
    position: relative;
    width: 570px;
    margin-left: 10em;
    z-index: 1;
}

.transparant {
    position: absolute;
    left: 0;
    width: 570px;
    margin-left: 10em;
    z-index: 10;
}

.stackmondje1 {
    position: absolute;
    left: 0;
    width: 570px;
    margin-left: 10em;
    z-index: 10;
}

.stackmondje2 {
    display: none;
    position: absolute;
    left: 0;
    width: 570px;
    margin-left: 10em;
    z-index: 10;
}
.stackogen1 {
    display: none;
    position: absolute;
    left: 0;
    width: 570px;
    margin-left: 10em;
    z-index: 10;
}

.stackogen2 {
    display: none;
    position: absolute;
    left: 0;
    width: 570px;
    margin-left: 10em;
    z-index: 10;
}

.foto1 {
    position: absolute;
    width: 100px;
    margin: 150px 0px 0px 250px;
}

.foto2 {
    position: absolute;
    width: 100px;
    margin: 150px 0px 0px 380px;
}

.foto3 {
    position: absolute;
    width: 100px;
    margin: 350px 0px 0px 250px;
}

.foto4 {
    position: absolute;
    width: 100px;
    margin: 350px 0px 0px 380px;
}

.mutingmusic {
    position: absolute;
    width: 50px;
    margin: 555px 0px 0px 530px;
}

.submit_button {
    background-color: #f494bf;
    border: #f494bf;
    padding: 0.75em;    
    margin-left: 1em;
    color:black;
    font-family: 'Press Start 2P', cursive;
    font-size: 60%;

}

.complimenten {
    color: #f494bf;
    position: absolute;
    width: 50px;
    margin: 555px 0px 0px 460px;
}